<form [formGroup]="form">

  <p-divider align="left" type="solid">
    <h4 class="text-l font-bold">Informations générales</h4>
  </p-divider>

  <div class="flex justify-between p-2">
    <div class="flex flex-col gap-2 w-1/4">
      <label for="name" class="font-bold">Name</label>
      <input pInputText id="name" formControlName="name" />
    </div>
    <div class="flex flex-col gap-2 w-1/4">
      <label for="studio" class="font-bold">Studio</label>
      <input pInputText id="studio" formControlName="studio" />
    </div>
    <div class="flex flex-col gap-2 w-1/4">
      <label for="platform" class="font-bold">Platforme</label>
      <p-select
        [options]="platforms"
        formControlName="platform"
        id="platform"
        placeholder="Sélectionner..."
      />
    </div>
  </div>
  <div class="flex justify-between p-2">
    <div class="flex flex-col gap-2 w-1/4">
      <label for="format" class="font-bold">Format</label>
      <p-select
        [options]="formats"
        formControlName="format"
        id="format"
        placeholder="Sélectionner..."
      />
    </div>
    <div class="flex flex-col gap-2 w-[62.5%]">
      <label for="summary" class="font-bold">Résumé</label>
      <textarea
        id="summary"
        rows="5"
        pTextarea
        formControlName="summary"
        [autoResize]="true"
      ></textarea>
    </div>
  </div>

  <p-divider align="left" type="solid">
    <h4 class="text-l font-bold">Mon espace</h4>
  </p-divider>

  <div class="flex justify-between p-2">
    <div class="flex flex-col gap-2 w-1/4">
      <label for="rating" class="font-bold">Note</label>
      <p-rating formControlName="rating" id="rating" />
    </div>
    <div class="flex flex-col gap-2 w-[62.5%]">
      <label for="comment" class="font-bold">Avis</label>
      <textarea
        id="comment"
        rows="5"
        pTextarea
        formControlName="comment"
        [autoResize]="true"
      ></textarea>
    </div>
  </div>

  <div class="flex p-4 justify-center">
    <p-button label="Sauvegarder" [disabled]="!isValid" (click)="validate()" />
  </div>
</form>
