<div>
  <p-toolbar class="mb-8">
    <ng-template #start>
      <div>
        <h3 class="text-xl font-bold">{{ album()?.name }}</h3>
        <p>Editer les images</p>
      </div>
    </ng-template>
    <ng-template #end>
      <p-buttongroup>
        <p-button severity="secondary" (click)="cancel()">
          <span pButtonLabel>Annuler</span>
        </p-button>
        <p-button (click)="save()">
          <fa-icon [icon]="icons.save" pButtonIcon />
          <span pButtonLabel>Enregistrer</span>
        </p-button>
      </p-buttongroup>
    </ng-template>
  </p-toolbar>

  <div class="mb-4">
    <app-image-upload
      label="Ajouter images"
      [blobUrlScope]="blobUrlScope"
      [multiple]="true"
      (imagesUploaded)="onUpload($event)"
    />
  </div>

  <div class="flex flex-row flex-wrap gap-4 p-4">
    @for (image of images(); track image; let i = $index) {
      <div class="relative w-64 h-64 rounded-lg overflow-hidden border border-[var(--p-secondary-color)]">
        <img class="w-full h-full object-cover" [src]="imageThumbnails()[i]" />
        <p-button
          class="absolute"
          [style.top.px]="4"
          [style.right.px]="4"
          severity="danger"
          [rounded]="true"
          size="small"
          (click)="removeImage(i)"
        >
          <fa-icon [icon]="icons.trash" pButtonIcon />
        </p-button>
      </div>
    }
  </div>
</div>
