<form [formGroup]="form" class="flex flex-col gap-4 mb-4">
  <div class="flex flex-col gap-1">
    <label for="album-name" class="font-bold">Titre</label>
    <input pInputText id="album-name" formControlName="name" placeholder="Nom de l'album" />
  </div>

  <app-image-upload label="Ajouter images" [blobUrlScope]="blobUrlScope" (imagesUploaded)="onUpload($event)" [multiple]="true" />
</form>

<div class="flex flex-row justify-center gap-2">
  <p-button severity="secondary" (click)="cancel()">Annuler</p-button>
  <p-button [disabled]="!form.valid" (click)="submit()">Créer</p-button>
</div>
