@use '../../layout' as l;

.navbar-menu {
  &-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
  }

  &-inner {
    display: flex;
    @include l.navbar-height;
    border-color: transparent;
    @include l.layout-width;
  }

  &-logo {
    @include l.navbar-height;
  }
}
