<div>
  <p-toolbar class="mb-8">
    <ng-template #start>
      <div>
        <h3 class="text-xl font-bold">Cosmétiques Labyrinthine</h3>
        <p>Mes Cosmétiques - Total {{ cosmetics().length }}</p>
      </div>
    </ng-template>
  </p-toolbar>

  @for (group of groupedByType(); track group) {
    <p-divider align="left" type="solid">
      <h2 class="text-3xl font-bold my-8">{{ group[0] }}</h2>
    </p-divider>
    <div class="flex flex-row flex-wrap justify-evenly">
      @for (cosmetic of group[1]; track cosmetic) {
        <div class="p-4 m-4 border border-primary rounded-lg flex flex-col justify-evenly h-64 w-64">
          <img class="mx-auto" [src]="cosmetic.icon" height="150" width="150">
          <b class="mx-auto">{{ cosmetic.name }}</b>
        </div>
      }
    </div>
  }
</div>
