<div>
  <p-toolbar class="mb-8">
    <ng-template #start>
      <div>
        <h3 class="text-xl font-bold">Cosmétiques Labyrinthine</h3>
        <p>Mes Cosmétiques - Total {{ cosmetics().length }}</p>
      </div>
    </ng-template>
    <ng-template #end>
      <button pButton (click)="commit()" [disabled]="!canCommit()">
        <fa-icon [icon]="icons.commit" pButtonIcon />
        <span pButtonLabel>Commit</span>
      </button>
    </ng-template>
  </p-toolbar>

  <app-cosmetics-list [(cosmetics)]="cosmetics"></app-cosmetics-list>
</div>
