@if (!isExporting) {
  <p-message severity="info">Ceci va exporter les données existantes. Procéder ?</p-message>
  <div class="flex flex-row justify-center">
    <p-button class="m-2" severity="secondary" (click)="cancel()">Annuler</p-button>
    <p-button class="m-2" severity="primary" (click)="export()">Exporter</p-button>
  </div>
}
@else {
  @let s = exportingStatusLabel();
  @if (s) {
    <p-progressbar [value]="s.progress">
      <ng-template #content>
        <span>{{ s.label }}</span>
      </ng-template>
    </p-progressbar>
  }
}
