<div class="fixed top-0 left-0 z-[1] w-screen">
  <p-menubar class="flex h-navbar border-transparent max-w-layout mx-auto">
    <ng-template #start>
      <img src="assets/home/logo.png" alt="Minikit Room" class="h-navbar">
    </ng-template>
    <ng-template #end>
      @let p = profile();
      @if (p) {
        <app-navbar-popover [picture]="p.picture" />
      }
      @else {
        <p-avatar shape="circle" class="cursor-pointer" (click)="login()">
          <fa-icon [icon]="defaultProfilePicture" />
        </p-avatar>
      }
    </ng-template>
  </p-menubar>
</div>
