<div class="navbar-menu-wrapper">
  <p-menubar class="navbar-menu-inner">
    <ng-template #start>
      <img src="assets/home/logo.png" class="navbar-menu-logo">
    </ng-template>
    <ng-template #end>
      @let p = profile();
      @if (p) {
        <p-menu #menu [model]="loggedInMenu" [popup]="true" />
        <p-avatar shape="circle" class="cursor-pointer" [image]="p.picture" (click)="menu.toggle($event)" />
      }
      @else {
        <p-avatar shape="circle" class="cursor-pointer" (click)="login()">
          <fa-icon [icon]="defaultProfilePicture" />
        </p-avatar>
      }
    </ng-template>
  </p-menubar>
</div>
