<div>
  <p-toolbar class="mb-8">
    <ng-template #start>
      <div>
        <h3 class="text-xl font-bold">Galerie de photos</h3>
        <p>Mes albums photos</p>
      </div>
    </ng-template>
    <ng-template #end>
      <p-button (click)="createAlbum()">
        <fa-icon [icon]="icons.plus" pButtonIcon />
        <span pButtonLabel>Créer</span>
      </p-button>
    </ng-template>
  </p-toolbar>

  <p-dataview #dv [value]="albums()">
    <ng-template #list let-items>
      <div class="flex flex-row flex-wrap gap-4 p-4">
        @for (item of items; track item) {
          <div class="relative w-64 h-64 rounded-lg border border-[var(--p-secondary-color)]">
            <img
              class="rounded-lg w-full h-full object-cover"
              [src]="albumThumbnails().get(item.id)"
            >
            <p-tag
              class="absolute"
              [value]="item.name"
              severity="info"
              [style.left.px]="4"
              [style.top.px]="4"
            />
          </div>
        }
      </div>
    </ng-template>
  </p-dataview>
</div>
